.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
    width: 200px;
    height: 100vh;
    background-color: #2F2E31;
}

.innerContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    align-items: center;
}

.title{
    font-size: 0.85rem;
    color: white;
    margin: 0;
}

.link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}
